html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn.active, .btn:active {
    background-color: #007bff;
    color: white;
}

/*index*/

.Cus-Table{
    border: 5px solid black; 
    margin: auto;
     padding : 20px;
     min-height: 400px;
}

.Cus-inner-Table {
    border: 3px solid black;
    margin: auto;
    padding: 10px;
    height: 250px;
}
.filter{
    border: 1px solid black
}

.btn-spacer{
    border-right: 1px solid black;
}


/*add and delete*/
.customer-form-container {
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

    .customer-form-container h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

.customer-form label {
}

/*add edit*/

.out-cont{
    border: 1px solid black ;
    width: 60%;
    margin: auto;
}


.out-cont input {
    width:50%
    
}

.form-submit{
    justify-content: space-around;
}
.btn-cus{
    width: 140px;
}


.highlighted {
    background-color: #96d0f2; /* Bootstrap's light grey color */
    opacity: 0.5;
    color: black
}

.input-container input {
    /* Adjust the width as needed */
    width: 100%;
    
}

.input-group {
 width: 70%
}

.input-validation-error {
    border: 2px solid red;
    background-color: #ffe6e6; /* A light red background color */
}
