# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - invoicemanager-mvc

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read # This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.x'

      - name: Restore dependencies
        working-directory: WebApplication1
        run: dotnet restore WebApplication1.csproj

      - name: Build with dotnet
        working-directory: WebApplication1
        run: dotnet build WebApplication1.csproj --configuration Release --no-restore

      - name: dotnet publish
        working-directory: WebApplication1
        run: dotnet publish WebApplication1.csproj -c Release -o "${{ env.DOTNET_ROOT }}/myapp" --no-restore

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CA87CED8C3394656AAF13C912067EDAE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3692CFD7A56E4D8385C6152043B66127 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_24D8DFBAC30D44F08A8493EA5FD221AE }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'invoicemanager-mvc'
          slot-name: 'Production'
          package: .
